
blockquote {
    font-size: 120%;
    font-style: italic;
    line-height: 240%;
    border-left: 4px solid rgba(255,255,255,0.2 );
    padding: 5px;
    margin:10px 0 10px 0;
}


#tech p>img {
padding: 30px;
/* background-color: rgba(255,255,255,0.05); */
/* border:1px solid #ccc; */

}

#workapps a>img
{
padding: 30px;
/* background-color: rgba(255,255,255,0.2); */
height: 150px;
}

li,ul {
  list-style-type: none;
  margin:none;
  padding:none;


}


#voogo {
background: white;
    color: #333333;

}

#blocks {
    background: #ffead3;
    color: #333333;
}

#ventus {
    background: #222222;
    color:#f0f0f0;
}
.bl-icon-cancel-circle:before {
font-size: 2em;

}

ul#bl-work-items {
    padding:0px;
}

@media screen and (max-width: 46.5em) {

    img#logohome {
        width: auto;
        height:20px;
    }
/*
    .bl-content > ul li a img {
        display: block;
        max-width: 100%;
    }
*/

    #workapps a>img
    {
        padding: 10px;
        padding-left: 0px;
        height: auto;
        width: 200px;
    }
/*
    ul#bl-work-items img {
        width: auto !important;
        display: block;

    }
*/

    #tech p>img {
        display:block
        padding: 10px;
        height: auto;
        width: 200px;
    }
    
    #pyromap {
        width: 100%;
        height: auto;

    }

   /* .bl-work-section
    {
        width:100%;
    }*/


    .bl-expand {
        padding:5px;
        margin:0;
    }

    .bl-content {
        padding: 0;
        margin: 0;
    }

    .bl-content article {
        padding: 5px 5px 5px 0px;
    }

    div.bl-panel-items > div > div {
        width: 85%;
        margin: 0 auto;
        opacity: 1;
        bottom: 70px;
        top: 40px;
        pointer-events: auto;
    }
}

