#tech p>img {
padding: 30px;
background-color: rgba(255,255,255,0.2);
/* border:1px solid #ccc; */

}

#workapps a>img
{
padding: 30px;
background-color: rgba(255,255,255,0.2);
height: 150px;
}

li,ul {
  list-style-type: none;
}

.bl-icon-cancel-circle:before {
font-size: 2em;

}

