@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?f7ucl7');
	src:url('fonts/icomoon.eot?f7ucl7#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?f7ucl7') format('truetype'),
		url('fonts/icomoon.woff?f7ucl7') format('woff'),
		url('fonts/icomoon.svg?f7ucl7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bl-icon-"], [class*=" bl-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bl-icon-users2:before {
	content: "\e601";
}
.bl-icon-home3:before {
	content: "\e902";
}
.bl-icon-location:before {
	content: "\e947";
}
.bl-icon-mobile:before {
	content: "\e958";
}
.bl-icon-users:before {
	content: "\e972";
}
.bl-icon-cancel-circle:before {
	content: "\ea0d";
}
.bl-icon-embed2:before {
	content: "\ea80";
}
.bl-icon-terminal:before {
	content: "\ea81";
}
.bl-icon-mail:before {
	content: "\ea83";
}
.bl-icon-twitter2:before {
	content: "\ea92";
}
.bl-icon-onedrive:before {
	content: "\eab0";
}
.bl-icon-github:before {
	content: "\eab1";
}
.bl-icon-apple:before {
	content: "\eabf";
}
.bl-icon-finder:before {
	content: "\eac0";
}
.bl-icon-linkedin:before {
	content: "\eac8";
}
.bl-icon-html5:before {
	content: "\eadf";
}
.bl-icon-git:before {
	content: "\eae2";
}
.bl-icon-safari:before {
	content: "\eae9";
}
.bl-icon-phone:before {
	content: "\e600";
}

